@font-face {
    font-family: Avenir;
    src: url('https://www.fontify.me/wf/8a4d709e5a5b2ca4fdadb6948053db36');
}

@font-face {
    font-family: NordicaHairline;
    src: url('NordicaHairline.otf');
}

@font-face {
    font-family: MicroFLF-Bold;
    src: url("MicroFLF-Bold.ttf");
}

body {
    font-family: Avenir;
}

h1 {
    font-family: MicroFLF-Bold;
}

p, li {
    font-size: 17px;
}

.dropdown{
    margin-left: 150px;
    margin-top: 2%;
}

.navbar-nav{
    margin-left: 26%;
}

.parallax1{
    width: 100%;
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.parallax2{
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.parallax3{
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.parallax4{
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.parallax5{
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.parallax6{
    /* The image used */
    background-image: url("FotoJet2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}